body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:428px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u490_input {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'思源宋体 ExtraLight', '思源宋体 Regular', '思源宋体', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u490_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'思源宋体 ExtraLight', '思源宋体 Regular', '思源宋体', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 ExtraLight', '思源宋体 Regular', '思源宋体', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:20px;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:19px;
  width:55px;
  height:38px;
  display:flex;
  font-family:'思源宋体 ExtraLight', '思源宋体 Regular', '思源宋体', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:20px;
}
#u490 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u490_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:38px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 ExtraLight', '思源宋体 Regular', '思源宋体', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:20px;
}
#u490.disabled {
}
#u491_input {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:'思源宋体 ExtraLight', '思源宋体 Regular', '思源宋体', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u491_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:'思源宋体 ExtraLight', '思源宋体 Regular', '思源宋体', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 ExtraLight', '思源宋体 Regular', '思源宋体', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:20px;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:338px;
  width:97px;
  height:32px;
  display:flex;
  font-family:'思源宋体 ExtraLight', '思源宋体 Regular', '思源宋体', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:20px;
}
#u491 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u491_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 ExtraLight', '思源宋体 Regular', '思源宋体', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:20px;
}
#u491.disabled {
}
#u492_input {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:'思源宋体 ExtraLight', '思源宋体 Regular', '思源宋体', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u492_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:'思源宋体 ExtraLight', '思源宋体 Regular', '思源宋体', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 ExtraLight', '思源宋体 Regular', '思源宋体', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:20px;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:393px;
  width:97px;
  height:32px;
  display:flex;
  font-family:'思源宋体 ExtraLight', '思源宋体 Regular', '思源宋体', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:20px;
}
#u492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u492_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 ExtraLight', '思源宋体 Regular', '思源宋体', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:20px;
}
#u492.disabled {
}
#u493_input {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:'思源宋体 ExtraLight', '思源宋体 Regular', '思源宋体', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u493_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:'思源宋体 ExtraLight', '思源宋体 Regular', '思源宋体', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 ExtraLight', '思源宋体 Regular', '思源宋体', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:20px;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:450px;
  width:97px;
  height:32px;
  display:flex;
  font-family:'思源宋体 ExtraLight', '思源宋体 Regular', '思源宋体', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:20px;
}
#u493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u493_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 ExtraLight', '思源宋体 Regular', '思源宋体', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:20px;
}
#u493.disabled {
}
#u494_input {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:'思源宋体 ExtraLight', '思源宋体 Regular', '思源宋体', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u494_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:'思源宋体 ExtraLight', '思源宋体 Regular', '思源宋体', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 ExtraLight', '思源宋体 Regular', '思源宋体', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:490px;
  width:279px;
  height:32px;
  display:flex;
  font-family:'思源宋体 ExtraLight', '思源宋体 Regular', '思源宋体', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
}
#u494 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u494_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 ExtraLight', '思源宋体 Regular', '思源宋体', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
}
#u494.disabled {
}
#u495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:35px;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:338px;
  width:33px;
  height:35px;
  display:flex;
}
#u495 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u495_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:35px;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:393px;
  width:33px;
  height:35px;
  display:flex;
}
#u496 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u496_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:35px;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:450px;
  width:33px;
  height:35px;
  display:flex;
}
#u497 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u497_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u498_input {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:'思源宋体 ExtraLight', '思源宋体 Regular', '思源宋体', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u498_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:'思源宋体 ExtraLight', '思源宋体 Regular', '思源宋体', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 ExtraLight', '思源宋体 Regular', '思源宋体', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:20px;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:100px;
  width:202px;
  height:32px;
  display:flex;
  font-family:'思源宋体 ExtraLight', '思源宋体 Regular', '思源宋体', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:20px;
}
#u498 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u498_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 ExtraLight', '思源宋体 Regular', '思源宋体', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:20px;
}
#u498.disabled {
}
#u499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:2px;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:310px;
  width:323px;
  height:1px;
  display:flex;
}
#u499 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u499_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:2px;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:90px;
  width:323px;
  height:1px;
  display:flex;
}
#u500 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u500_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u501_input {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:46px;
  padding:2px 2px 2px 2px;
  font-family:'思源宋体 ExtraLight', '思源宋体 Regular', '思源宋体', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u501_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:46px;
  padding:2px 2px 2px 2px;
  font-family:'思源宋体 ExtraLight', '思源宋体 Regular', '思源宋体', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 ExtraLight', '思源宋体 Regular', '思源宋体', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:20px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:582px;
  width:93px;
  height:46px;
  display:flex;
  font-family:'思源宋体 ExtraLight', '思源宋体 Regular', '思源宋体', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:20px;
}
#u501 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u501_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:46px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 ExtraLight', '思源宋体 Regular', '思源宋体', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:20px;
}
#u501.disabled {
}
#u502 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:866px;
  width:428px;
  height:60px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u504 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome ', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  line-height:22px;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:866px;
  width:107px;
  height:60px;
  display:flex;
  font-family:'FontAwesome ', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  line-height:22px;
}
#u505 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u505_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome ', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  line-height:22px;
}
#u505.selected {
}
#u505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome ', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  line-height:22px;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:866px;
  width:107px;
  height:60px;
  display:flex;
  font-family:'FontAwesome ', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  line-height:22px;
}
#u506 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u506_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome ', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  line-height:22px;
}
#u506.selected {
}
#u506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome ', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  line-height:22px;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:866px;
  width:107px;
  height:60px;
  display:flex;
  font-family:'FontAwesome ', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  line-height:22px;
}
#u507 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u507_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome ', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  line-height:22px;
}
#u507.selected {
}
#u507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome ', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  line-height:22px;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:866px;
  width:107px;
  height:60px;
  display:flex;
  font-family:'FontAwesome ', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  line-height:22px;
}
#u508 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u508_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome ', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  line-height:22px;
}
#u508.selected {
}
#u508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 Bold', '思源宋体 Regular', '思源宋体', sans-serif;
  font-style:normal;
  font-size:20px;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:26px;
  width:63px;
  height:29px;
  display:flex;
  font-family:'思源宋体 Bold', '思源宋体 Regular', '思源宋体', sans-serif;
  font-style:normal;
  font-size:20px;
}
#u509 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u509_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
